.sign-up {
  background: url("../../asset/instructions.png") no-repeat;
  height: 100.2vh;
  width: 100.2vw;
  background-size: 40vh;
  background-position: center;
  min-width: 70vw;
  padding-top: 5%;
  text-align: center;

  .title {
    color: grey;
    margin: 1vh 0;
  }
  .input-inline {
    justify-content: center;
  }
}

.google-btn {
  margin-top: 1.4vh;
}
