.sign-up {
  background: url("../../asset/instructions.png") no-repeat;
  height: 101.3vh;
  background-size: 55vh;
  background-position: center;
  width: 100%;
  min-width: 70vw;
  padding: 2vh;
  text-align: center;

  .title {
    margin: 1vh 0;
  }
  .input-inline {
    justify-content: center;
  }
}

.google-btn {
  margin-top: 1vh;
}
