.sign-up {
  width: 100%;
  min-width: 70vw;
  padding: 2vh;
  text-align: center;

  .title {
    margin: 1vh 0;
  }
  .input-inline {
    justify-content: center;
  }
}

.google-btn {
  margin-top: 5vh;
}
