.note-wheel {
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.rod {
  z-index: 1;
  height: 200px;
  width: 200px;
  color: red;
  display: flex;
  justify-content: center;
}
