.back-btn {
  position: absolute;
  margin: 10px;
  padding: 0;
  font-weight: 500;
  font-size: 1.4rem;
  right: 0px;
  bottom: 0px;
  text-decoration: none;
  color: rgb(249, 75, 89);
  background-color: rgb(3, 3, 123);
  border-radius: 25%;
  width: 2rem;
  text-align: center;
}
