.homepage {
  height: 101.3vh;
  background: url("../../asset/Frame.png") no-repeat;
  background-size: 55vh;
  // max-height: fit-content;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.btn-enter {
  background-color: rgb(0, 0, 0);
}

.btn-enter {
  position: absolute;
  top: 18vh;
  width: 100%;
  text-align: center;
  color: rgb(66, 66, 66);
  font-weight: 300;
  font-size: 4vh;
  padding: 2vh;
  cursor: pointer;
  transition: transform 2s, font-weight 2s, color 2s;
}

.user-name {
  opacity: 0.7;
  color: white;
  background-color: #3c3c3c;
}
