input {
  margin: 20px;
}

button {
  margin: 20px;
}

.session-map {
  text-align: center;
  height: 66vh;
}

.menu-container {
  text-align: center;
  height: auto;
  width: auto;
  overflow: hidden;
}

.rounded {
  opacity: 0.9;
  max-width: 50%;
  filter: grayscale(70%);
}

.spin-container {
  margin-top: 50vh;
  text-align: center;
}

.spinner-grow {
  background-color: white;
}

.create-session {
  text-decoration: none;
}
