input {
  margin: 20px;
}

button {
  margin: 20px;
}
.sign-out {
  position: absolute;
  top: 5px;
  right: 20px;
}

.session-map {
  text-align: center;
  height: 66vh;
}

.menu-container {
  text-align: center;
  height: auto;
  width: auto;
  overflow: hidden;
}

.rounded {
  opacity: 0.9;
  max-width: 50%;
  filter: grayscale(70%);
}

.spin-container {
  margin-top: 50vh;
  text-align: center;
}

.spinner-grow {
  background-color: white;
}

.create-session {
  width: 50%;
  margin: 10vh;
  padding: 10px;
  animation-name: glow;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  text-decoration: none;
}

.proxy-scanner {
  position: relative;
  background: url("../../asset/proxyscan.png") no-repeat;
  height: 87vh;
  background-size: 27vh;
  background-position: center;
  width: 100%;
  min-width: 70vw;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}
.proxy-flash {
  background-image: radial-gradient(
    rgba(108, 108, 108, 0.411),
    rgba(62, 62, 62, 0.084),
    rgba(26, 26, 26, 0)
  );
  position: absolute;
  top: 44%;
  left: 50%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: -150px 0 0 -150px;
  animation-name: radarglow;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glow {
  from {
    background-color: rgba(49, 48, 48, 0.447);
  }
  to {
    background-color: rgba(0, 0, 0, 0.125);
  }
}
@keyframes radarglow {
  from {
    background-color: rgba(63, 63, 63, 0.194);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
