input {
  margin: 20px;
}

button {
  margin: 20px;
}
.sign-out {
  color: grey;
  position: absolute;
  top: 0;
  right: 0;
  width: 33.3%;
  padding: 10px;
}

.session-map {
  text-align: center;
  height: 100vh;
}

.menu-container {
  text-align: center;
  height: auto;
  width: auto;
  overflow: hidden;
}

.rounded {
  opacity: 0.9;
  max-width: 50%;
  filter: grayscale(70%);
}

.spin-container {
  margin-top: 50vh;
  text-align: center;
}

.spinner-grow {
  background-color: white;
}

.create-session {
  z-index: 30;
  position: absolute;
  top: 0;
  width: 66.6%;
  padding: 10px;
  animation-name: glow;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  text-decoration: none;
}

.proxy-scanner {
  background: url("../../asset/proxyscan.png") no-repeat;
  height: 100vh;
  background-size: 80vw;
  background-position: center;
  width: 100vw;
  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

code {
  background-color: blue($color: #00000000);
  position: absolute;
  margin: auto;
  width: 100vw;
  bottom: 10%;
  left: 0;
}
.proxy-flash {
  background-image: radial-gradient(
    rgba(99, 99, 99, 0.411),
    rgba(62, 62, 62, 0),
    rgba(26, 26, 26, 0)
  );

  position: absolute;
  top: 0%;
  background-position: center;
  border-radius: 50%;
  width: 100vw;
  height: 100vh;
  animation-name: radarglow;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes glow {
  from {
    background-color: rgba(128, 127, 127, 0.5);
  }
  to {
    background-color: rgba(0, 0, 0, 0.125);
  }
}
@keyframes radarglow {
  from {
    background-color: rgba(46, 46, 46, 0.144);
  }
  to {
    background-color: rgba(0, 0, 0, 0.014);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    opacity: 0.7;
  }
  to {
    transform: rotate(360deg);
    opacity: 0.1;
  }
}
